@import "../mixins";

.hero {
  position: relative;
  margin-top: 5rem;
  padding: 2rem 0rem 2rem 6rem;
  width: 100%;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include small-screen {
    margin-top: 0rem;
    padding: 1rem 0rem;
  }

  .text {
    width: 55rem;
    height: 16rem;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 39px;
    margin-bottom: 15rem;
    padding: 0rem 1rem;

    @include small-screen {
      font-size: 2.4rem;
      width: 100%;
      line-height: 25px;
      margin-bottom: 15rem;
      padding: 0rem 3rem;
    }
  }

  .imageContainer {
    width: 100vw;
    height: 110rem;

    @include small-screen {
      height: auto;
    }

    .img {
      width: 100%;
      height: 100%;

      @include small-screen {
        position: relative;
        height: auto;
      }

      .topCloud {
        position: absolute;
        top: 10%;
        right: -50px;
        transform: translateY(-50%);
        animation: cloudAnimationTop 18s linear infinite;

        @include small-screen {
          height: 10rem;
          top: -70px;
          right: -75px;
        }
      }

      .bottomCloud {
        position: absolute;
        top: 30%;
        left: 10%;
        animation: cloudAnimationBottom 18s linear infinite;
        transform: translateY(-50%);

        @include small-screen {
          height: 15rem;
          top: 65%;
          left: -13rem;
        }
      }

      .picInfo {
        position: relative;
        // background-color: aqua;

        .pic {
          width: 85%;
          height: 80%;
          object-fit: contain;

          @include small-screen {
            width: 100%;
            height: auto;
            position: relative;
            left: -10rem;
            object-fit: contain;
            object-position: top;
          }
        }

        .info {
          position: absolute;
          top: 3%;
          right: 6%;

          font-family: "Mouse Memoirs";
          font-style: normal;
          font-weight: 400;
          font-size: 15rem;
          line-height: 104%;
          color: #5447f6;

          width: 35%;

          @include small-screen {
            font-size: 8rem;
            line-height: 104%;
            width: 60%;
            top: -10%;
            right: -11%;
          }

          .oneInfo {
            display: flex;
            align-items: center;
            margin: 2rem 0;
            cursor: pointer;

            .fire {
              margin-left: 2rem;
              display: none;

              @include small-screen {
                height: 3rem;
                margin-left: -12px;
              }
            }
          }

          .oneInfo:hover .fire,
          .oneInfo:target .fire {
            display: block;
          }
        }

        .socials {
          position: absolute;
          display: flex;
          align-items: center;
          // margin-left: 1rem;
          top: 50%;
          left: 0;

          img {
            cursor: pointer;
            height: 4rem;
            margin-right: 2.5rem;

            @include small-screen {
              // height: 5rem;
              margin-right: 1.5rem;
            }
          }

          @include small-screen {
            width: 20rem;
            top: 70%;
            left: 57%;
            margin-left: 0;
          }
        }
      }
    }
  }
}

@keyframes cloudAnimationTop {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-45vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes cloudAnimationBottom {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(35vw);
  }

  100% {
    transform: translateX(0);
  }
}
