@import "../mixins";
.container {
  // height: 69rem;
  width: 100vw;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap;

  .projectCon {
    display: flex;
    width: 100%;
    height: 100%;

    .project {
      position: relative;
      display: inline-block;
      height: auto;

      img {
        display: block;
        height: auto;
        width: 30vw;
        object-fit: cover;
        @include small-screen {
          width: 85vw;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.3s ease;
        cursor: pointer;

        @include small-screen {
          display: none;
        }
      }
    }

    .project:hover .overlay {
      opacity: 0;
    }
  }
}
