@import "../mixins";

.container {
  // height: 69rem;
  width: 100vw;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;

  .projectCon {
    display: flex;
    width: 100%;
    height: 100%;

    .project {
      position: relative;
      display: inline-block;
      height: auto;

      img {
        display: block;
        height: auto;
        width: 30vw;
        object-fit: cover;

        @include small-screen {
          width: 85vw;
        }
      }

      .linkContainer {
        display: flex;
        right: 2rem;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 5;
        left: 2rem;
        transition: opacity 0.3s ease;
        bottom: 2.5rem;
        opacity: 0;
        .btn {
          height: 3.5rem;
          width: 11rem;
          background: #ccfd53;
          border: 3px solid #000000;
          border-radius: 3.75rem;
          font-family: "Outfit";
          font-style: normal;
          font-weight: 600;
          font-size: 1.25rem;
          cursor: pointer;
          color: #000000;
        }
        .elipse{
          width: 5rem;
          height: 5rem;
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        transition: opacity 0.3s ease;

        @include small-screen {
          display: none;
        }
      }
    }

    .project:hover .overlay {
      opacity: 0;
    }
  }
  .project:hover > .linkContainer{
    opacity: 1;
  }
}