@import "../mixins";
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-size: 1.8rem;
  padding: 2rem 10rem 2rem 6rem;

  @include small-screen {
    padding: 5rem 3.5rem;
  }
}
