@import "../mixins";
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  font-size: 1.8rem;
  padding: 2rem 10rem 2rem 3rem;

  @include small-screen {
    padding: 5rem 3.5rem;
  }

  .btn {
    height: 6rem;
    width: 18rem;
    background: #ccfd53;
    border: 3px solid #000000;
    border-radius: 4rem;
    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 184%;
    color: #000000;

    @include small-screen {
      border: 1.5px solid #000000;
    }
  }
}
