@import "mixins";

:root {
  --primary-color: #f3fcff; // background color
  --primary-text-color: #000000; // main text color
  --secondary-text-color: #5447f6; // secondary text color
  --green-color: #ccfd53; // green color
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
}
body {
  color: var(--primary-text-color);
  line-height: 1.5;
  font-size: 2rem;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    display: none;
  }

  @include medium-screen {
    font-size: 50%;
  }
  @include small-screen {
    font-size: 40%;
  }
}
