@import "mixins";

.container {
  .heroProj {
    position: relative;
    height: 100vh;

    .hero {
      z-index: 1;
    }
    .proj {
      position: relative;
      bottom: 32rem;
      z-index: 9999;
      opacity: 0.9;

      @include small-screen {
        position: relative;
        bottom: 7.5rem;
        opacity: 1;
      }
    }
  }
}
